abrt
polybar/blocks/
polybar/colorblocks/
polybar/cuts/
polybar/forest/
polybar/grayblocks/
polybar/hack/
polybar/material/
polybar/panels/
polybar/shades/
polybar/shapes/
autostart
btop
cef-user-data
Code
dconf
enchant
eog
evolution
github
gnome-*
goa-1.0
google-chrome
gtk-*
ibus
Kingsoft
Kingsoft
menus
mpd
nautilus
nitrogen
ookla
polybar.old
procps
pulse
totem
user-share
vlc
wal
yelp
dleyna-*
gnome-initial-setup-done
GNOME-xdg-terminals.list
mimeapps.list
QtProject.conf
user-*
xdg-terminals.list
.gsd-keyboard.settings-ported
